.faqTitle{
    margin-top: 20px;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    margin-top: 30px;
    justify-content: center; 
     /* text-align: center; */
}
.accordion{
    width: 500px;
}

.item{
    background: #424242;
    margin-bottom: 5px;
    padding: 10px 20px;
}


.title{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.content{
    font-size: 12px;
    max-height: 0;
    overflow: hidden; 
    overflow: hidden;
    transition: all 1s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 1s cubic-bezier(1,0,1,0);
}