
.downloadSection{
    padding: 20px;
    margin-top: 90px;
    justify-content: center;
    text-align: center;

}

.downloadSection{
  animation: myAnim 2s ease 0s 1 normal forwards;

}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}

}

@keyframes myAnim{
  0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}
h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    border: 3px solid  #12f7ff;
    font-size: larger;
    padding: 10px;
    width: 500px;
    height: 60px;
  }

  button {
    background-color: var(--hover-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 60px;
    font-size: large;
  }

  button:hover{
    background-color:#0fc9cf;
    color: white;
  }
  .submit_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  p{
    color: whitesmoke;
    font-size: small;
  }
  
  a {
    color:  #12f7ff;
    text-decoration: underline;
    font-size: smaller;
  }